accelerate
black
dotenv
flake8
google-generativeai
huggingface_hub
ipykernel
ipympl
ipywidgets
matplotlib
numpy
pandas
peft
protobuf
requests
sentencepiece
tokenizers
torch
transformers
trl==0.17.0
openai
sklearn
tqdm
urllib3
wandb